@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Sour Gummy", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:  "wdth" 100;
    background: #EEF5FF;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    height: 100vh; 
    background: #176B87;
    transition: all 0.3s;
    overflow-y: auto; 
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #176B87;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #176B87;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: black;
}

#sidebar ul li a:hover {
    background: #B4D4FF;
    color: black;
}

#content {
    margin-left: 250px;
    transition: all 0.3s;
    width: calc(100% - 250px); 
}

#sidebar.active + #content {
    margin-left: 0;
    width: 100%;
}

.d-flex {
    gap: 10px;
}